<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <style>
        body{
            background-image: url("{% static 'covid-19.jpg' %}");
            background-repeat: no-repeat;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: rgb(247, 247, 247);
            
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>covid-19</title>
</head>
<body>

    
    <header style="width: 95%; height: 100px; background: rgb(217, 243, 216);">

   
        <h1 style="color: black;"><em>Covid-19</em></h1>
        <img src="{% static 'icon.png' %}" style="margin-top: -40px; width: 100px; height: 100px;" alt="">

        <div style="float: right; margin-right: 500px; margin-top: -40px;"> <h2 style="color: black;"><em>!STAY HOME STAY SAFE</em></h2></div>

    </header>

     <div style="width: 100%; overflow-y: scroll; height: 500px; margin-bottom: 50px; ">
    
        <div style="float: left; width: 90%; height: 300px;  border: 2px solid green;">
          <h2 style="margin-left: 10px; margin-bottom: -9px;">About</h2> <hr style="width: 10%; margin-left: 5px;"><hr style="width: 10%; margin-left: 5px;">
          <div><p>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.
            Most people who fall sick with COVID-19 will experience mild to moderate symptoms and recover without special treatment.</p></div>

            <div style="float: left;"> 
                <h2 style="margin-left: 10px; margin-bottom: -9px;">HOW IT SPREADS</h2><hr style="width: 19%; margin-left: 5px;"><hr style="width: 19%; margin-left: 5px;">
              <p> The virus that causes COVID-19 is mainly transmitted through droplets generated when an infected person coughs, sneezes, or exhales. These droplets are too heavy to hang in the air, and quickly fall on floors or surfaces.
                You can be infected by breathing in the virus if you are within close proximity of someone who has COVID-19, or by touching a contaminated surface and then your eyes, nose or mouth.
              </p> 
           </div>
          
        </div>

    <div style=" float: left; margin-top: 20px; margin-bottom: 20px; border: 2px solid green; width: 95%; height: 300px;">
        <div style="margin-left: 10px; float: left; "><h1 style="margin: 0;"><em>Prevention</em></h1><hr style="width: 99%; margin-left: 5px;"><hr style="width: 99%; margin-left: 5px;"></div><br>
      <div style=" float: left;">
            <p>Protect yourself and others around you by knowing the facts and taking appropriate precautions.
                 Follow advice provided by your local public health agency.</p></div>
                 <div style="float: left;"><p><em>To prevent the spread of COVID-19:</em></p></div><br>
                 <div style="float: left;">
                     <ul>
                         <li><em>Clean your hands often. Use soap and water, or an alcohol-based hand rub.</em></li>
                         <li><em>Maintain a safe distance from anyone who is coughing or sneezing.</em></li>
                         <li><em>Don’t touch your eyes, nose or mouth.</em></li>
                         <li><em>Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.</em></li>
                         <li><em>Stay home if you feel unwell.</em></li>
                         <li><em>If you have a fever, a cough, and difficulty breathing, seek medical attention. Call in advance</em></li>
                         <li><em>Follow the directions of your local health authority.</em></li>
                      
                     </ul>
                 </div>
    </div>



    <div style="width: 95%; height: 500px;  margin-top: 10px;">

        <div style="float: left; width: 30%; height: 400px; border: 2px solid black; margin-top: 10px; margin-left: 10px;">
        
            <div style="text-align: center; float: left; width: 80%; height: 200px;  margin-left: 10px; margin-top: 10px;">
                <div><h1>Worldwide<hr style="margin-left: 30px;"></h1></div>
                <div  style="padding: 10px;"> <label for="">Coronavirus Cases:</label> {{data.Global.TotalConfirmed}}</div>
              <div style="padding: 10px;"><label for=""> Deaths:</label> {{data.Global.TotalDeaths}}</div>
              <div style="padding: 10px;"><label for=""> Recovered:</label> {{data.Global.TotalRecovered}}</div>
            </div>
        </div>

        <div style="float: right; width: 60%; height: auto; border: 2px solid black; margin-top: 10px; margin-left: 10px;">

             <div>

                <div style="text-align: center;"><h1><em>INDIA</em></h1><hr style="margin-left: 10px;"></div>
                <div>
                   
                    
                    <div style=" border: 5px solid green; text-align: center; float: left; width: 80%; height: 200px; margin-left: 70px; margin-top: 10px; margin-bottom: 20px;">
                        <div><h1>Total</h1></div>
                        <div style="display: flex;">
                        
                        <div  style="padding: 10px; margin-left: 60px;"> <span><b> Coronavirus Cases</b> </span><br> {{india.TotalConfirmed}}</div>
                      <div style="padding: 10px; margin-left: 60px;"><span><b> Deaths</b></span><br>{{india.TotalDeaths}}</div>
                      <div style="padding: 10px; margin-left: 60px;"><span><b> Recovered</b></span><br>{{india.TotalRecovered}}</div>
                    </div>
                    </div>

                    <div style=" border: 5px solid green; text-align: center; float: left; width: 80%; height: 200px; margin-left: 70px; margin-top: 10px; margin-bottom: 20px;">
                        <div><h1>NEW CASES</h1></div>
                        <div style="display: flex;">
                        
                        <div  style="padding: 10px; margin-left: 60px;"> <span><b> NewConfirmed</b></span><br> {{india.NewConfirmed}}</div>
                      <div style="padding: 10px; margin-left: 60px;"><span><b> NewDeaths</b></span><br>{{india.NewDeaths}}</div>
                      <div style="padding: 10px; margin-left: 60px;"><span><b> NewRecovered</b></span><br>{{india.NewRecovered}}</div>
                    </div>
                    </div>
                   
                </div>



             </div>


        </div>

    </div>


    <div style="float: left; border: 3px solid salmon; width:95%; height: auto; margin: 20 20 20 20;">
        <div style="float: left; width: 100%;"><h1><em>All Countries</em></h1></div>

        <div style="float: left;">
            <table style="width:100%">
                <tr>
                  <th>Date</th>
                  <th>Country</th>
                  <th>CountryCode</th>
                  <th>NewConfirmed</th>
                  <th>TotalConfirmed</th>
                  <th>NewDeaths</th>
                  <th>TotalDeaths</th>
                  <th>NewRecovered</th>
                  <th>TotalRecovered</th>
                </tr>
                {% for country in data.Countries %}
                <tr>
                  <td>{{country.Date}}</td>
                  <td>{{country.Country}}</td>
                  <td>{{country.CountryCode}}</td>
                  <td>{{country.NewConfirmed}}</td>
                  <td>{{country.TotalConfirmed}}</td>
                  <td>{{country.NewDeaths}}</td>
                  <td>{{country.TotalDeaths}}</td>
                  <td>{{country.NewRecovered}}</td>
                  <td>{{country.TotalRecovered}}</td>
                </tr>
                {%endfor%}
              </table>
        </div>

    </div>
    
</div>


</body>
</html>